<form method="post" action="{{ path('app_lead_delete', {'id': lead.id}) }}" onsubmit="return confirm('Vous êtes sûr de');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lead.id) }}">
    <button class="btn">Delete</button>
</form>
